absl-py==2.1.0
annotated-types==0.7.0
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
dacite==1.8.1
fonttools==4.42.0
grpcio==1.64.1
htmlmin==0.1.12
idna==3.7
ImageHash==4.3.1
importlib-resources==6.0.1
importlib_metadata==7.2.1
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.4
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.2
multimethod==1.9.1
networkx==3.2.1
numpy==1.23.5
packaging==24.1
pandas==2.0.3
pandas-profiling==3.6.6
patsy==0.5.3
phik==0.12.3
pillow==10.3.0
protobuf==4.25.3
pydantic==1.10.11
pydantic_core==2.18.4
pyparsing==3.0.9
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.0
scipy==1.11.3
seaborn==0.12.2
six==1.16.0
statsmodels==0.14.0
tangled-up-in-unicode==0.2.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
torch==1.8.1+cu111
torchaudio==0.8.1
torchtext==0.9.1
torchvision==0.9.1+cu111
tqdm==4.66.4
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
visions==0.7.5
Werkzeug==3.0.3
wordcloud==1.9.2
ydata-profiling==4.4.0
zipp==3.19.2
